<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marif.bloodapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Page.MainActivity" />
        <activity android:name=".Page.SignIn" />
        <activity android:name=".Page.SignUp" />
        <activity android:name=".Page.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Page.AboutUs" />
        <activity android:name=".Page.NumberVerify" />
        <activity android:name=".Page.HomePage" />
        <activity android:name=".Page.UserBio" />
        <activity
            android:name=".Listviews.Listview"
            android:label="@string/title_activity_listview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Page.RequestActivity" />
        <activity android:name=".Page.HistoryActivity" />
        <activity android:name=".Page.DHistoryActivity" />
        <activity android:name=".Listviews.ListviewRequest" />
        <activity android:name=".Listviews.ListviewHistory" />
        <activity android:name=".Page.WallOfFameActivity" />

        <activity
            android:name=".Listviews.cardActivityRequest"
            android:label="@string/title_activity_card_request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Listviews.cardActivityHistory"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Page.ChangePassword" />
        <activity android:name=".Page.EditProfile"></activity>
    </application>

</manifest>